.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 3rem;
  color: #bd5d38;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 3rem;
  color: #bd5d38;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 2s ease;
  transform: scale((0.7));
}

.slide.active {
  opacity: 1;
  transition-duration: 2s;
  transform: scale((1));
}
